/.vscode
/2023-04-25-林育璋-碩士論文初稿.pdf
/documentary.txt
/othello_platform_v2
/othello_platform_v2.zip
/PPT
/pred_th0_3_cnn1d.csv
/pred_th0_5_cnn1d.csv
/s10_allvalid_multilabel_weights
/s10_allvalid_weights
/s10_weights
/sample_1205
/save_game
/src
/train_data_0130